.container{
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 2px solid;
    display: grid;
    grid-template-columns: repeat(3,100px) ;
    grid-template-rows: repeat(3,1fr);
   /* grid-template-areas: "header header header " "main  . sidebar" "footer footer footer ";*/
   gap: 10px;
   justify-items: center;
   align-items: center;
   justify-content: center;
   align-content: center;
}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1x green;
    color: blue;
    text-align: center;
    align-content: center;
}
/*
.item1{
   grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: footer;
}
